# Ridge artifacts
*.gz
*.pt
tests/data/models
tests/data/embeddings

# External app artifacts
__pycache__
.DS_Store
.emacs.desktop*
*.py[cod]
.vscode
.env
.venv/*
todesktop.json

# Build artifacts
/src/ridge/interface/web/images
/src/ridge/interface/built/
/src/ridge/interface/compiled/404.html
/build/
/dist/
ridge_assistant.egg-info
/config/ridge*.yml
.pytest_cache
*.log
/src/ridge/static

# Obsidian plugin artifacts
# ---
# npm
node_modules

# Don't include the compiled obsidian main.js file in the repo.
# They should be uploaded to GitHub releases instead.
src/interface/obsidian/main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
