__pycache__
.DS_Store
.emacs.desktop*
*.py[cod]
tests/data/models
tests/data/embeddings
src/.data
/src/interface/web/images
.vscode
*.gz
*.pt
/build/
/dist/
/ridge_assistant.egg-info/
/config/ridge*.yml
.pytest_cache
