[Desktop Entry]
Type=Application
Name=Ridge
Comment=A natural language search engine for your personal notes, transactions and images.
Path=/opt
Exec=/opt/Ridge
Icon=Ridge