{% macro heading_pane(user_photo, username, is_active, has_documents) -%}
    <div class="ridge-header">
        <a class="ridge-logo" href="/">
            <img class="ridge-logo" src="/static/assets/icons/ridge-logo-sideways-500.png?v={{ ridge_version }}" alt="Ridge"></img>
        </a>
        <nav class="ridge-nav">
            <a id="chat-nav" class="ridge-nav" href="/chat">
                <img class="nav-icon" src="/static/assets/icons/chat.svg" alt="Chat">
                <span class="ridge-nav-item-text">Chat</span></a>
            <a id="agents-nav" class="ridge-nav" href="/agents">
                <img id="agents-icon" class="nav-icon" src="/static/assets/icons/agents.svg" alt="Agents">
                <span class="ridge-nav-item-text">Agents</span></a>
            {% if has_documents %}
            <a id="search-nav" class="ridge-nav" href="/search">
                <img class="nav-icon" src="/static/assets/icons/search.svg" alt="Search">
                <span class="ridge-nav-item-text">Search</span></a>
            {% endif %}
            <!-- Dropdown Menu -->
            {% if username %}
                <div id="ridge-nav-menu-container" class="ridge-nav dropdown">
                    {% if user_photo and user_photo != "None" %}
                        {% if is_active %}
                        <img id="profile-picture" class="circle subscribed" src="{{ user_photo }}" alt="{{ username[0].upper() }}" onclick="toggleMenu()" referrerpolicy="no-referrer">
                        {% else %}
                        <img id="profile-picture" class="circle" src="{{ user_photo }}" alt="{{ username[0].upper() }}" onclick="toggleMenu()" referrerpolicy="no-referrer">
                        {% endif %}
                    {% else %}
                        {% if is_active %}
                        <div id="profile-picture" class="circle user-initial subscribed" alt="{{ username[0].upper() }}" onclick="toggleMenu()">{{ username[0].upper() }}</div>
                        {% else %}
                        <div id="profile-picture" class="circle user-initial" alt="{{ username[0].upper() }}" onclick="toggleMenu()">{{ username[0].upper() }}</div>
                        {% endif %}
                    {% endif %}
                    <div id="ridge-nav-menu" class="ridge-nav-dropdown-content">
                        <div class="ridge-nav-username"> {{ username }} </div>
                        <a id="settings-nav" class="ridge-nav" href="/config">Settings</a>
                        <a id="help-nav" class="ridge-nav" href="https://docs.ridge.dev" target="_blank">Help</a>
                        <a class="ridge-nav" href="/auth/logout">Logout</a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </div>
{%- endmacro %}
